body {
  margin: 0px;
  font-family: "nunito", sans-serif;
}

.flex-full-center, #header .nav .navbar, #header .nav .navbar .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-spacebetween-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-spacearound-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-horizontal-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-columun-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  height: 230px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px 200px;
      grid-template-rows: 80px 200px;
}

[class^="col-"] {
  margin: 5px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: -91.66667%;
}

.col-5 {
  width: 41.66667%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.m-x {
  margin: 10px;
}

.m-2x {
  margin: 20px;
}

.m-3x {
  margin: 30px;
}

.m-4x {
  margin: 40px;
}

.m-5x {
  margin: 50px;
}

.Tbm-x {
  margin: 10px 0px;
}

.Tbm-2x {
  margin: 20px 0px;
}

.Tbm-3x {
  margin: 30px 0px;
}

.Tbm-4x {
  margin: 40px 0px;
}

.Tbm-5x {
  margin: 50px 0px;
}

.mt-x {
  margin-top: 10px;
}

.mt-2x {
  margin-top: 20px;
}

.mt-3x {
  margin-top: 30px;
}

.mt-4x {
  margin-top: 40px;
}

.mt-5x {
  margin-top: 50px;
}

.mb-x {
  margin-bottom: 10px;
}

.mb-2x {
  margin-bottom: 20px;
}

.mb-3x {
  margin-bottom: 30px;
}

.mb-4x {
  margin-bottom: 40px;
}

.mb-5x {
  margin-bottom: 50px;
}

.mr-x {
  margin-right: 10px;
}

.mr-2x {
  margin-right: 20px;
}

.mr-3x {
  margin-right: 30px;
}

.mr-4x {
  margin-right: 40px;
}

.mr-5x {
  margin-right: 50px;
}

.ml-x {
  margin-left: 10px;
}

.ml-2x {
  margin-left: 20px;
}

.ml-3x {
  margin-left: 30px;
}

.ml-4x {
  margin-left: 40px;
}

.ml-5x {
  margin-left: 50px;
}

.p-x {
  padding: 10px;
}

.p-2x {
  padding: 20px;
}

.p-3x {
  padding: 30px;
}

.p-4x {
  padding: 40px;
}

.p-5x {
  padding: 50px;
}

.pt-x {
  padding-top: 10px;
}

.pt-2x {
  padding-top: 20px;
}

.pt-3x {
  padding-top: 30px;
}

.pt-4x {
  padding-top: 40px;
}

.pt-5x {
  padding-top: 50px;
}

.tbd-x {
  padding: 10px 0px;
}

.tbd-2x {
  padding: 20px 0px;
}

.tbp-3x {
  padding: 30px 0px;
}

.tbd-4x {
  padding: 40px 0px;
}

.tbd-5x {
  padding: 50px 0px;
}

.pb-x {
  padding-bottom: 10px;
}

.pb-2x {
  padding-bottom: 20px;
}

.pb-3x {
  padding-bottom: 30px;
}

.pb-4x {
  padding-bottom: 40px;
}

.pb-5x {
  padding-bottom: 50px;
}

.pr-x {
  padding-right: 10px;
}

.pr-2x {
  padding-right: 20px;
}

.pr-3x {
  padding-right: 30px;
}

.pr-4x {
  padding-right: 40px;
}

.pr-5x {
  padding-right: 50px;
}

.pl-x {
  padding-left: 10px;
}

.pl-2x {
  padding-left: 20px;
}

.pl-3x {
  padding-left: 30px;
}

.pl-4x {
  padding-left: 40px;
}

.pl-5x {
  padding-left: 50px;
}

.btn {
  border: none;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-border-radius-x {
  border-radius: 5px;
}

.btn-border-radius-2x {
  border-radius: 10px;
}

.btn-border-radius-3x {
  border-radius: 15px;
}

.btn-border-radius-4x {
  border-radius: 20px;
}

.btn-border-radius-5x {
  border-radius: 25px;
}

.btn-border-radius-6x {
  border-radius: 30px;
}

.btn-border-green {
  border: 1px solid green;
  color: green;
}

.btn-border-green:hover {
  background: green;
  color: white;
  cursor: pointer;
}

.btn-border-gray {
  border: 1px solid gray;
  color: gray;
}

.btn-border-gray:hover {
  background: gray;
  color: white;
  cursor: pointer;
}

#header {
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background: url("../img/img_bg_1.jpg");
  background-size: 100%;
  width: 100%;
  background-size: cover !important;
  height: 890px;
}

#header .overlay {
  height: 890px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}

#header .nav {
  padding: 0px 250px 0px 40px;
  position: relative;
  z-index: 2;
}

#header .nav li {
  list-style: none;
}

#header .nav .navbar {
  width: 900px;
  margin: 0px 20px 0px 115px;
}

#header .nav .navbar .navbar-left {
  width: 1400px;
}

#header .nav .navbar .navbar-left .span {
  height: 18px;
  color: white;
  width: 108px;
}

#header .nav .navbar .navbar-left .inner-nav {
  margin: 0px 70px 0px 140px;
}

#header .nav .navbar .navbar-left .logo {
  display: inline-block;
  margin: 0px -43px;
}

#header .nav .navbar .navbar-left .logo img {
  width: 110px;
}

.logo img {
  width: 150px;
}

.inner-nav ul {
  margin: 0 px;
  padding: 0 px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-nav ul li {
  color: white;
  margin: 0px 20px;
  text-transform: capitalize;
  font-size: 17px;
}

.content {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content h1 {
  text-transform: capitalize;
  font-size: 55px;
  font-weight: 900px;
  margin: 750px 0px 0px 0px;
  font-family: "Nunito", sans-serif;
}

.content h2 {
  text-transform: capitalize;
  font-size: 55px;
  font-weight: 900px;
  margin: 0px;
}

.content p {
  font-size: 30px;
  font-weight: 500;
  margin: 5px;
}

#portfolio .portfolio-header, #portfolio .portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio .row .col-12 {
  width: 0px;
}

#portfolio .portfolio-header {
  margin: 0px 0px;
}

#portfolio .portfolio-header .portfolio-filter {
  margin: 30px 0px;
  text-align: center;
  font-size: 25px;
}

#portfolio .portfolio-header .portfolio-filter button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#portfolio .portfolio-header .portfolio-filter button .active {
  background: green;
}

#portfolio .portfolio-header h2 {
  font-size: 50px;
  margin: 0px;
}

#portfolio .portfolio-item {
  padding: 60px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0px 0px;
  z-index: 1px;
  height: 230px;
  overflow: hidden;
}

#portfolio .portfolio-item p1 {
  margin: 0px;
  padding: 30px;
  font-size: 25px;
  z-index: 4;
  color: white;
}

#portfolio .portfolio-item p2 {
  margin: -30px;
  z-index: 4;
  color: green;
}

#portfolio .portfolio-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  left: 0px;
  top: 0;
  z-index: 5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

#portfolio .portfolio-item img:hover {
  -webkit-filter: none;
          filter: none;
}

#portfolio .portfolio-item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  position: absolute;
  z-index: 3;
}

.lightbox {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(124, 124, 124, 0.5);
}

.lightbox img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 400px;
}

.lightbox .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lightbox .open .lightbox-content {
  -webkit-animation: lightboxImage .5s ease;
          animation: lightboxImage .5s ease;
}

@-webkit-keyframes lightboxImages {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lightboxImages {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.lightbox .lightbox-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: space-between;
      -ms-flex: space-between;
          flex: space-between;
  position: absolute;
  left: 980;
  top: 80;
  width: 100%;
  font-size: 50px;
}

.lightbox .prev-item {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  left: 30px;
  z-index: 110;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lightbox .prev-item:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.lightbox .next-item {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  right: 30px;
  z-index: 110;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lightbox .next-item:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.lightbox .fas {
  font-size: 32px;
  line-height: 40px;
}

#about {
  position: relative;
  margin: 0px auto;
  width: 100%;
}

#about .baba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  height: 980px;
}

#about .baba .ata1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

#about .baba .ata1 img {
  width: 590px;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .baba .ata2 {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#about .baba .ata2 h2 {
  color: black;
}

#about .baba .ata2 p {
  color: black;
}

#about .baba .ata2 .statica {
  width: 500px;
  line-height: 60px;
}

#about .baba .ata2 .statica .info {
  font-size: 18px;
}

#about .baba .ata2 .statica .info span {
  font-size: 17px;
  font-weight: 500px;
}

#about .baba .ata2 .statica .design {
  background: #c4c4c4;
  height: 10px;
  width: 100%;
  position: relative;
}

#about .baba .ata2 .statica .design span {
  position: absolute;
  background: green;
  height: 100%;
  text-align: right;
  width: 75%;
  border-radius: 5px;
}

#about .baba .ata2 .statica .html5 {
  background: #c4c4c4;
  height: 10px;
  width: 100%;
  position: relative;
}

#about .baba .ata2 .statica .html5 span {
  position: absolute;
  background: green;
  height: 10;
  text-align: right;
  width: 95%;
  border-radius: 5px;
}

#about .baba .ata2 .statica .css3 {
  background: #c4c4c4;
  height: 10px;
  width: 100%;
  position: relative;
}

#about .baba .ata2 .statica .css3 span {
  position: absolute;
  background: green;
  height: 100%;
  text-align: right;
  width: 55%;
  border-radius: 5px;
}

#about .baba .ata2 .statica .WordPress {
  background: #c4c4c4;
  height: 10px;
  width: 100%;
  position: relative;
}

#about .baba .ata2 .statica .WordPress span {
  position: absolute;
  background: green;
  height: 100%;
  text-align: right;
  width: 81%;
  border-radius: 5px;
}

#about .baba .ata2 .statica .boostrap {
  background: #c4c4c4;
  height: 10px;
  width: 100%;
  position: relative;
}

#about .baba .ata2 .statica .boostrap span {
  position: absolute;
  background: green;
  height: 100%;
  text-align: right;
  width: 98%;
  border-radius: 5px;
}

#about .baba .ata2 #tikla {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about .baba .ata2 #tikla .btn {
  width: 100px;
  margin-right: 10px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0px;
  margin: 20px -10px;
}

#services {
  padding: 95px;
}

#services .services-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .services-title h1 {
  font-size: 50px;
  margin: 100 37 50 0;
}

#services .services-body {
  width: 350px;
  height: 300px;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services .services-body h4 {
  text-align: center;
  margin: 0px;
  font-size: 20px;
}

#services .services-body span {
  font-size: 55px;
  margin: 33px;
  text-align: center;
}

#services .services-body p {
  font-size: 17px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
}

#resume {
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 1100px;
}

#resume .row h1 {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#resume .col-4 img {
  margin-top: 55px;
  height: 450px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

#resume .col-7 {
  height: 800px;
}

#resume .col-7 .basliq {
  margin-bottom: 55px;
}

#resume .col-7 .ata1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ad9f9f;
  width: 100%;
  height: 50px;
}

#resume .col-7 .ata1 .ogul-1 .ogul1-item-sag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -21px 0 0 -325px;
}

#resume .col-7 .ata1 .ogul-2 .ogul2-item-sag {
  text-align: end;
  margin-top: -20px;
}

#resume .col-7 .ata2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ad9f9f;
  width: 100%;
  height: 50px;
}

#resume .col-7 .ata2 .ogul-1 .ogul1-item-sag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -21px 0 0 -325px;
}

#resume .col-7 .ata2 .ogul-2 .ogul2-item-sag {
  text-align: end;
  margin-top: -20px;
}

#resume .col-7 .ata3 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ad9f9f;
  width: 100%;
  height: 50px;
}

#resume .col-7 .ata3 .ogul-1 .ogul1-item-sag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -21px 0 0 -325px;
}

#resume .col-7 .ata3 .ogul-2 .ogul2-item-sag {
  text-align: end;
  margin-top: -20px;
}

#resume .col-7 .ata4 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ad9f9f;
  width: 100%;
  height: 50px;
}

#resume .col-7 .ata4 .ogul-1 .ogul1-item-sag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -21px 0 0 -325px;
}

#resume .col-7 .ata4 .ogul-2 .ogul2-item-sag {
  text-align: end;
  margin-top: -20px;
}

#resume .col-7 .basliq {
  margin-top: 45px;
  font-size: 35px;
  text-align: left;
  margin-bottom: 0px;
}

#resume .col-7 .ata5 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ad9f9f;
  width: 100%;
  height: 50px;
}

#resume .col-7 .ata5 .ogul-1 .ogul1-item-sag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -21px 0 0 -325px;
}

#resume .col-7 .ata5 .ogul-2 .ogul2-item-sag {
  text-align: end;
  margin-top: -20px;
}

#resume .col-7 .ata6 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ad9f9f;
  width: 100%;
  height: 50px;
}

#resume .col-7 .ata6 .ogul-1 .ogul1-item-sag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -21px 0 0 -325px;
}

#resume .col-7 .ata6 .ogul-2 .ogul2-item-sag {
  text-align: end;
  margin-top: -20px;
}

#blog {
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 600px;
}

#blog .row1 h1 {
  text-align: center;
  font-size: 35px;
}

#blog li {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #6b6767;
}

#blog li a {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  list-style: none;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

#blog li a .data {
  font-size: 12px;
  letter-spacing: .2rem;
  color: #696262;
  text-transform: uppercase;
}

#blog li a .read {
  font-size: 12px;
  letter-spacing: .2rem;
  color: #696262;
  text-transform: uppercase;
  margin: 18px 0px 0 250px;
}

#blog li a .read1 {
  font-size: 12px;
  letter-spacing: .2rem;
  color: #696262;
  text-transform: uppercase;
  margin: 18px 0px 0 256px;
}

#blog li a .read2 {
  font-size: 12px;
  letter-spacing: .2rem;
  color: #696262;
  text-transform: uppercase;
  margin: 18px 0px 0 443px;
}

#blog li a .read3 {
  font-size: 12px;
  letter-spacing: .2rem;
  color: #696262;
  text-transform: uppercase;
  margin: 18px 0px 0 235px;
}

#Contact {
  position: relative;
  margin: 0px auto;
  width: 100%;
}

#Contact .row-1 {
  text-align: center;
  margin-bottom: 80px;
}

#Contact .row-2 .col-8 {
  height: 550px;
}

#Contact .row-3 .col-6-bal .form-control1 {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #43434d;
}

#Contact .row-3 .col-6-boy {
  position: relative;
  top: -34px;
  left: 315px;
}

#Contact .row-3 .col-6-boy .from2-group {
  margin: 0px 0 0 50px;
}

#Contact .row-3 .col-6-boy .from2-group .form-control2 {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #43434d;
}

#Contact .row-3 .from3-group {
  margin: 0 0 0 -20px;
}

#Contact .row-3 .from3-group .form-control3 {
  font-size: 50px;
  border: none;
  border-bottom: 1px solid #43434d;
}

#Contact .row-3 .from4-group {
  margin: 31px 0 0 15px;
}

#Contact .row-3 .from4-group .form-control4 {
  font-size: 36px;
  border: none;
  border-bottom: 1px solid #43434d;
}

#Contact .row-3 .btn {
  margin: 30px 0 0 85px;
}

#Contact .col-4 {
  position: relative;
  left: 900px;
  top: -466px;
}

#Contact .col-4 h2 {
  margin: 25px;
}

#Contact .col-4 ul {
  list-style: none;
  color: #97dd97;
}

#Contact .col-4 ul li {
  margin: 30 0 0 -40px;
}

#footer {
  background: #efefef;
  font-size: 14px;
  color: #888;
  padding: 70px 0;
}

#footer .about-orbit h3 {
  margin-bottom: 35px;
}

#footer .connect ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  margin-top: 30px;
  margin-left: -43;
  cursor: pointer;
}

#footer .connect ul a {
  color: grey;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2px;
}

#footer .connect ul a:hover {
  background: #76a876;
  color: white;
}

#footer .connect ul li {
  padding: 5;
}

#footer .col-2 {
  margin-left: 40px;
}

#footer .col-2 .navigation h3 {
  margin-bottom: 35px;
  text-align: center;
  margin-left: -30px;
}

#footer .col-2 .navigation ul {
  cursor: pointer;
  list-style: none;
}

#footer .col-2 .navigation ul li {
  margin-bottom: 15px;
}

#footer .col-2 .services h3 {
  margin: 15px 0 35px 15px;
}

#footer .col-2 .services ul {
  cursor: pointer;
  list-style: none;
  margin-left: -38px;
  margin-top: 30px;
  margin-bottom: 15px;
}

#footer .col-2 .services ul li {
  margin: 15px;
}

#footer .col-3 h3 {
  margin-bottom: 35px;
  margin-left: 55px;
}

#footer .col-3 address {
  margin-left: 55px;
}

#footer .col-3 ul {
  cursor: pointer;
  list-style: none;
}

#footer .col-3 ul li {
  margin: 15px;
}

#footer .col-12 {
  text-align: center;
  margin-top: 100px;
}
/*# sourceMappingURL=style.css.map */