.nava {
    // padding-top: 20px;
    // margin-top: -140px;
    .blog_right {
        a {
            text-decoration: none!important;
            list-style: none!important;
            transition: all 0.5s ease;
            color: white;
            position: relative;
            top: 14px;
            left: 810;
            &:link {
                text-decoration: none;
                list-style: none!important;
            }
            &:hover {
                color: rgba(34, 226, 8, 0.952) !important;
            }
        }         
    }
}
#header{

    .nav-bar{
        .blog_nav{
            a{
                position: relative;
                top: 10px;
                left: 810px;
                text-decoration: none;
                color: rgb(115, 255, 0)
            }
        }
    }
    
}