#blog_header {
    height: 110px;
    background:url(/img/backround.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing:border-box;

}