#about {
    position: relative;
    margin: 0px auto;
    width: 100%;

    .baba {
        display: flex;
        justify-content: space-around;
        width: 80%;
        height: 980px;
        .ata1 {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-right: 40px;
            img {
                width: 590px;
                object-fit: cover;
            }
        }
        .ata2{
            margin-top: 75px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            h2 {
                color: black;
            }
            p {
                color: black;
            }
            .statica {
                width: 500px;
                line-height: 60px;
                .info{              
                    font-size: 18px; 
                    span{
                        font-size: 17px; 
                        font-weight: 500px; 
                    }
                }
                .design{
                    background: rgb(196, 196, 196);
                    height: 10px;
                    width: 100%;
                    position: relative;
                    span{
                        position: absolute;
                        background: green;
                        height: 100%;
                        text-align: right;
                        width: 75%;
                        border-radius: 5px;
                    }
                }
                .html5{
                    background: rgb(196, 196, 196);
                    height: 10px ;
                    width: 100%;
                    position: relative;
                    span{
                        position: absolute;
                        background: green;
                        height: 10;
                        text-align: right;
                        width: 95%;
                        border-radius: 5px;
                    }   
                }
                .css3{
                    background: rgb(196, 196, 196);
                    height: 10px;
                    width: 100%;
                    position: relative;
                    span{
                        position: absolute;
                        background: green;
                        height: 100%;
                        text-align: right;
                        width: 55%;
                        border-radius: 5px;
                    } 
                }
                .WordPress{
                    background: rgb(196, 196, 196);
                    height: 10px;
                    width: 100%;
                    position: relative;
                    span{
                        position: absolute;
                        background: green;
                        height: 100%;
                        text-align: right;
                        width: 81%;
                        border-radius: 5px;
                    } 
                }
                .boostrap{
                    background: rgb(196, 196, 196);
                    height: 10px;
                    width: 100%;
                    position: relative;
                    span{ 
                        position: absolute;
                        background: green;
                        height: 100%;
                        text-align: right;
                        width: 98%;
                        border-radius: 5px;
                    } 
                }
            }
            #tikla {
                margin-top: 30px;
                display: flex;
                width: 200px;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                .btn {
                    width: 100px;
                    margin-right: 10px;
                    font-size: 15px;
                    box-sizing: border-box;
                    padding: 10px 0px;
                    margin: 20px -10px;
                }
            }
            
           
        }
    }
       
}
