#Contact{
    position: relative;
    margin: 0px auto;
    width: 100%;
    .row-1{
        text-align: center;
        margin-bottom: 80px;
    }
    .row-2{    
        .col-8{      
            margin-bottom: -160px;
            .row-full{
                margin-bottom: 30px;
        
                .col-6{
                    .form-control0{
                        font-size: 16px;
                        border: none;
                        border-bottom: 1px solid #43434d;
                        width: 300px;
                        outline: none;
                    }
                    .form-control01{
                        font-size: 16px;
                    position: relative;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #43434d;
                    left: 350px;
                    top: -25px;
                    width: 300px;
                    }
                }
                .col-12{  

                    .form-control02{
                        font-size: 16px;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #43434d;
                        width: 650px;
                        margin-bottom: 26px;
                    }
                }
                .col-12{  

                    .form-control03{
                        font-size: 20px;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #43434d;
                        width: 650px;
                        height: 130px;
                    }
                }
                .row-full-send{
                    .btn{
                     border-radius: 30px;
                    }
                
                }
            }  
        }    


    }
    
   
        .col-4{
            position: relative;
            left: 900px;
            top: -390px;
            h2{
                margin: 25px;
            }
            ul{
                list-style: none;
                color: #97dd97;
                li{
                    margin: 30 0 0 -40px;
                }
            }
            
        } 
    
}
