#services{
    padding: 95px;
    .services-title{
        display: flex;
        justify-content: center;
        h1{
            font-size: 50px;
            margin:100 37 50 0;
        }
        
    }
    .services-body{
        width: 350px;
        height: 300px;
        border: 1px solid gray ;
        display: flex;
        border-radius: 4px;
        flex-direction: column;
        h4{
            text-align: center;
            margin: 0px;
            font-size:20px
        }
        span{
            font-size: 55px;
            margin: 33px;
            text-align: center;
        }
        
        
        p{
            font-size: 17px;
            text-align: center;
            box-sizing: border-box;
            padding: 25px;
            
        }
    }
}